{% extends 'base.html.twig' %}

{% block title %}TypeOfCustomer index{% endblock %}

{% block body %}
    <h1>TypeOfCustomer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_of_customer in type_of_customers %}
            <tr>
                <td>{{ type_of_customer.id }}</td>
                <td>{{ type_of_customer.name }}</td>
                <td>{{ type_of_customer.createdAt ? type_of_customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('type_of_customer_show', {'id': type_of_customer.id}) }}">show</a>
                    <a href="{{ path('type_of_customer_edit', {'id': type_of_customer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_of_customer_new') }}">Create new</a>
{% endblock %}
