{% extends 'base.html.twig' %}

{% block title %}Sooonr - Accueil{% endblock %}

{% block body %}

<section>


    <div class="carousel carousel-slider heightsoixante">
        <div class="carousel-item ">
            <a href="#one!"><img class="imagecaroussel" src="{{ asset('build/medias/piano.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Chanteurs</h2>
        </div>
        <div class="carousel-item">
            <a href="#two!"><img class="imagecaroussel" src="{{ asset('build/medias/drummer.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Batteurs</h2>
        </div>
        <div class="carousel-item">
            <a href="#three!"><img class="imagecaroussel" src="{{ asset('build/medias/drummers.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Groupe de batteurs</h2>
        </div>
        <div class="carousel-item">
            <a href="#four!"><img class="imagecaroussel" src="{{ asset('build/medias/guitar.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Guitar</h2>
        </div>
        <div class="carousel-item">
            <a href="#five!"><img class="imagecaroussel" src="{{ asset('build/medias/guitarist.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Guitariste</h2>
        </div>
        <div class="carousel-item">
            <a href="#six!"><img class="imagecaroussel" src="{{ asset('build/medias/harp.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Harp</h2>
        </div>
    </div>

</section>
    <section class="container">
        <h1 class="typosizecinquante center typologo"> SOOONR</h1>
        <p class="typotext typosizevingt center">Le site de booking d'artiste Amateur et professionnel !</p>
        <div class='mouse-container'>
            <div class='mouse'>
                <span class='scroll-down'></span>
            </div>
        </div>
    </section>
        <div class="container">
            <div class="row">
                <h2 class="titlehun typosizequarante white-text">Trouver les artistes qui vous conviennent</h2>
                <div class="row">

                </div>
            </div>
        </div>
    </section>
    </section>
    <div class="container">
        <div class="row">
            <h2 class="titlehun typosizequarante white-text">Trouver un évènement où démontrer votre talent! </h2>
            <div id="card-container" class="row">

    </div>
        </div>
    </div>
    </section>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
            autoplay();
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            }
        });
    </script>
{% endblock %}