{% extends 'base.html.twig' %}

{% block title %}Sooonr - Accueil{% endblock %}

{% block body %}

<section>


    <div class="carousel carousel-slider heightsoixante">
        <div class="carousel-item ">
            <a href="#one!"><img class="imagecaroussel" src="{{ asset('build/medias/piano.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Chanteurs</h2>
        </div>
        <div class="carousel-item">
            <a href="#two!"><img class="imagecaroussel" src="{{ asset('build/medias/drummer.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Batteurs</h2>
        </div>
        <div class="carousel-item">
            <a href="#three!"><img class="imagecaroussel" src="{{ asset('build/medias/drummers.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Groupe de batteurs</h2>
        </div>
        <div class="carousel-item">
            <a href="#four!"><img class="imagecaroussel" src="{{ asset('build/medias/guitar.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Guitar</h2>
        </div>
        <div class="carousel-item">
            <a href="#five!"><img class="imagecaroussel" src="{{ asset('build/medias/guitarist.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Guitariste</h2>
        </div>
        <div class="carousel-item">
            <a href="#six!"><img class="imagecaroussel" src="{{ asset('build/medias/harp.jpg') }}"></a>
            <h2 class="titlehun cah2 white-text">Harp</h2>
        </div>
    </div>

</section>
    <section class="container">
        <h1 class="typosizecinquante center typologo"> SOOONR</h1>
        <p class="typotext typosizevingt center">Le site de booking d'artiste Amateur et professionnel !</p>
        <div class='mouse-container'>
            <div class='mouse'>
                <span class='scroll-down'></span>
            </div>
        </div>
    </section>
        <div class="container">
            <div class="row">
                <h2 class="titlehun typosizequarante white-text">Trouver les artistes qui vous conviennent</h2>
                <div class="row">
                    <div class="col s12 cards-container">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">John DOE</span>
                                <p>DJ amateur recherchant des soirées pour animer. Je mixe de tous </p>
                                <p class="right">Price : 30€/h</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Voir mon profile</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
    <div class="container">
        <div class="row">
            <h2 class="titlehun typosizequarante white-text">Trouver un évènement où démontrer votre talent! </h2>
            <div id="card-container" class="row">

                    {#% for event in events %#}
                    <!-- Col: Card 1 -->
                    <div class="col s12 m6 l4">
                        <!-- Card 1 -->
                        <div class="card">
                            <div class="card-content white-text">
                                <div class="card__date">
                                    <span class="card__date__day">{#{ event.dateEvent ? event.dateEvent|date('d') : '' }#}01</span>
                                    <span class="card__date__month">{#{ event.dateEvent ? event.dateEvent|date('m') : '' }#}07</span>
                                </div>
                                <div class="card__meta">
                                    <a href="#"><i class="small material-icons">room</i>{#{ event.address }#}11 rue de la Tréfilerie 93120 La Courneuve</a>
                                    <time>{#{ event.dateEvent ? event.dateEvent|date('Y-m-d') : '' }#}01-07-2019</time>
                                </div>
                                <span class="card-title grey-text text-darken-4">{#{ event.title }#}Big Party</span>

                                <p class="card-subtitle grey-text text-darken-2">{#{ event.description }#}À l'occasion de la fin des études, une fête est organisée pour décompresser! Pour cela nous avons besoin des talents d'un DJ pour mettre l'ambiance.</p>
                                <div class="row card-row">
                                    <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;{#{ event.styleEvent }#}Soirée</span>
                                </div>
                                <div class="row card-row">
                                    <span class="text-darken-2 card-info"><i class="small material-icons">place</i>&nbsp;Comment se rendre à l'événement</span>
                                    <div col s12>
                                        <iframe src="{#{ event.linkGoogle }#}https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.551077931379!2d2.4058843156421608!3d48.92394470404287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66c6514685209%3A0x3fadba61a488e73!2s11+Rue+de+la+Tr%C3%A9filerie%2C+93120+La+Courneuve!5e0!3m2!1sfr!2sfr!4v1561981911205!5m2!1sfr!2sfr"></iframe>

                                    </div>
                                </div>
                                <div class="row card-row">
                                    <span class="text-darken-2 card-info"><i class="small material-icons">event</i>&nbsp;{#{ event.status }#}Trouvé</span>
                                    <span class="text-darken-2 card-info"><i class="small material-icons">event</i>&nbsp;{#{ event.price }#}300 €</span>
                                </div>
                                <div class="row card-row">
                                    <span class="text-darken-2 card-info"><i class="small material-icons">schedule</i>{#{  event.dateEvent ? event.dateEvent|date('H:i') : '' }#}20h</span>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="{#{ path('demands_new') }#}"><i class="material-icons">&nbsp;language</i>Proposer ces services</a>

                                <a href="{#{ path('events_show', {'id': event.id}) }#}" class="card-action-right"><i class="material-icons">&nbsp;details</i>Details</a>

                            </div>
                        </div>
                        <!-- End of card -->
                    </div>
                    <!-- End of col -->

                    {#% else %#}
                       <!-- <tr>
                            <td colspan="10">no records found</td>
                        </tr> -->
                    {#% endfor %#}
    </div>
        </div>
    </div>
    </section>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
            autoplay();
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            }
        });
    </script>
{% endblock %}