{% extends 'base.html.twig' %}

{% block title %}Bill{% endblock %}

{% block body %}
<div class="container bordrad10 margtop white">
    <div class="row">
        <div class="col s12 white bordrad10 pad20 margtop">
            <h1 class="titlehun">Bill</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ bill.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ bill.date ? bill.date|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-lg bgblur">
                <a class="white-text" href="{{ path('bill_index') }}">back to list</a>
            </button>
            <button class="btn btn-lg bgblur">
                <a class="white-text" href="{{ path('bill_edit', {'id': bill.id}) }}">edit</a>
            </button>
            {{ include('bill/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
