{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <div class="container bordrad10 margtop white">
        <div class="row">
            <div class="col s12 white bordrad10 pad20 margtop">
                <h1>Profile index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Biography</th>
                            <th>About</th>
                            <th>Stage_name</th>
                            <th>Price</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.id }}</td>
                            <td>{{ profile.biography }}</td>
                            <td>{{ profile.about }}</td>
                            <td>{{ profile.stageName }}</td>
                            <td>{{ profile.price }}</td>
                            <td>
                                <a href="{{ path('profile_show', {'id': profile.id}) }}">show</a>
                                <a href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('profile_new') }}">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
