{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container bordrad10 margtop white">
    <div class="row">
        <div class="col s12 white bordrad10 pad20 margtop">
            <h1 class="titlehun">Profile</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ profile.id }}</td>
                    </tr>
                    <tr>
                        <th>Biography</th>
                        <td>{{ profile.biography }}</td>
                    </tr>
                    <tr>
                        <th>About</th>
                        <td>{{ profile.about }}</td>
                    </tr>
                    <tr>
                        <th>Stage_name</th>
                        <td>{{ profile.stageName }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ profile.price }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row"></div>
            <button class="btn btn-lg bgblur">
                <a class="white-text" href="{{ path('profile_index') }}">back to list</a>
            </button>
            <button class="btn btn-lg bgblur">
                <a class="white-text" href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a>
            </button>

            {{ include('profile/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
