{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container bordrad10 margtop white">
    <div class="row">
        <div class="col s12 white bordrad10 pad20 margtop">
            <h1 class="titlehun">Profile</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ profile.id }}</td>
                    </tr>
                    <tr>
                        <th>Biography</th>
                        <td>{{ profile.biography }}</td>
                    </tr>
                    <tr>
                        <th>About</th>
                        <td>{{ profile.about }}</td>
                    </tr>
                    <tr>
                        <th>Stage_name</th>
                        <td>{{ profile.stageName }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ profile.price }}</td>
                    </tr>
                </tbody>
            </table>
            <div class=" margtop margbot greatvibes pad white bordrad10">
                <section class="container">
                    <div class="row ">
                        <div class="col-lg-6 off-screen off-screen--from-left">
                            <div class="">
                                <h1 class=" titlehun">Espace personnel</span></h1>
                            </div>
                        </div>
                        <div class="col s12 grey lighten-2 bordrad10">
                            <p>Informations personnelles</p>
                        </div>
                        <div class="col s2 offset-s5">
                            <p>
                                <img class=" bordrad50" src="{{ asset('build/medias/harp.jpg') }}" alt="">
                            </p>
                        </div>
                        <article class="col s6">
                            <p>Joël SYLVIUS</p>
                            <p>Homme</p>
                            <p>18/04/1991</p>
                        </article>
                        <article class="col s6">
                            <p>Adresse ligne 1</p>
                            <p>adresse ligne 2</p>
                            <p>Numéro de tel :</p>
                        </article>
                        <article class="col s12">
                            <h2 class="typosizequize"><b>Biographie </b>:</h2>
                            {{ profile.biography  }}
                        </article>
                    </div>
                    <div class="row">
                        <div class="col s12 grey lighten-2 bordrad10">
                            <p>Informations complémentaires</p>
                        </div>
                        <article class="col s12">
                            <p>{{ profile.about }}</p>
                        </article>
                        <article class="col s4">
                            <p>{{ profile.stageName }}</p>
                        </article>
                        <article class="col s4">
                            <p><i class="material-icons">verified_user</i></p>
                        </article>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col s12 grey lighten-2 bordrad10">
                            <p>Listes de mes évènements</p>
                        </div>
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Référence</th>
                                <th>Date</th>
                                <th>status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {#% for demand in demands %#}
                               <!-- <tr>
                                    <td>{#{ demand.numref }#}</td>
                                    <td>{#{ demand.datedemand ? demand.datedemand|date('Y-m-d H:i:s') : '' }#}</td>
                                    <td>{#{ demand.status }#}</td>
                                    <td>
                                        <a href="{#{ path('demands_show', {'id': demand.id}) }#}"><i></i></a>
                                        <a href="{#{ path('demands_edit', {'id': demand.id}) }#}">edit</a>
                                    </td>
                                </tr>-->
                            {#% else %#}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {#% endfor %#}
                            </tbody>
                        </table>
                        <div class="col s6">

                        </div>
                    </div>
                </section>

            </div>
            <div class="row"></div>
            <button class="btn btn-lg bgblur">
                <a class="white-text" href="{{ path('profile_index') }}">back to list</a>
            </button>
            <button class="btn btn-lg bgblur">
                <a class="white-text" href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a>
            </button>

            {{ include('profile/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
