{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ profile.biography }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ profile.about }}</td>
            </tr>
            <tr>
                <th>Stage_name</th>
                <td>{{ profile.stageName }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ profile.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('profile_index') }}">back to list</a>

    <a href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a>

    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}
