{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container bordrad10 margtop">
        <div class="row">
            <div class="col s12 bordrad10 pad20 margtop">
                <h1 class="white-text center">{{ 'evenement'|trans }}</h1>
                <div class="col s12">
                    <div class="col s1"><a class="btn-floating btn-large waves-effect waves-light bgblur" href="{{ path('event_new') }}"><i class="material-icons">add</i></a></div><div class="col s3"><p class="white-text">Créer votre nouvel évènement</p></div>
                </div>
                    {% for event in events %}
                        <!-- Col: Card 1 -->
                        <div class="col s12 m6 l4">
                            <!-- Card 1 -->
                            <div class="card">
                                <div class="card-content white-text">
                                    <div class="card__date">
                                        <span class="card__date__day">{{ event.dateEvent ? event.dateEvent|date('d') : '' }}</span>
                                        <span class="card__date__month">{{ event.dateEvent ? event.dateEvent|date('m') : '' }}</span>
                                    </div>
                                    <div class="card__meta">
                                        <!-- <a href="#"><i class="small material-icons">room</i>{#{ event.address }#}</a>-->
                                        <time>{{ event.dateEvent ? event.dateEvent|date('Y-m-d') : '' }}</time>
                                    </div>
                                    <span class="card-title grey-text text-darken-4">{{ event.title }}</span>

                                    <p class="card-subtitle grey-text text-darken-2 truncate">{{ event.description }}</p>
                                    <!-- <div class="row card-row">
                                    <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;{#{ event.styleEvent }#}</span>
                                </div> -->
                                    <div class="row card-row">
                                        <span class="text-darken-2 card-info"><i class="small material-icons">place</i>&nbsp;Comment se rendre à l'événement</span>
                                        <div col s12 style="overflow: hidden">
                                            <iframe src="{{ event.linkGoogle }}"></iframe>
                                        </div>
                                    </div>
                                    <div class="row card-row">
                                        <!-- <span class="text-darken-2 card-info"><i class="small material-icons">event</i>&nbsp;{#{ event.status }#}</span> -->
                                        <span class="text-darken-2 card-info"><i class="small material-icons">event</i>&nbsp;{{ event.price }} €</span>
                                    </div>
                                    <div class="row card-row">
                                        <span class="text-darken-2 card-info"><i class="small material-icons">schedule</i>{{  event.dateEvent ? event.dateEvent|date('H:i') : '' }}</span>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a href="{{ path('demands_new') }}"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>

                                    <a href="{{ path('event_show', {'id': event.id}) }}" class="card-action-right"><i class="material-icons">&nbsp;details</i>Details</a>

                                </div>
                            </div>
                            <!-- End of card -->
                        </div>
                        <!-- End of col -->

                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}



            </div>
        </div>
    </div>
{% endblock %}
