{% extends 'base.html.twig' %}

{% block title %}Customers index{% endblock %}

{% block body %}
    <div class="">
        <div class="row">
                <div class="col 8 white z-depth-4 bordrad10 pad20 margtop">
                    <h1>Gestions des Utilisateurs</h1>
                    <div class="scrollhor">
                        <table class="table responsive-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Fullname</th>
                                <th>Status</th>
                                <th>Gender</th>
                                <th>DateOfBirth</th>
                                <th>Description</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>CountryCode</th>
                                <th>Numberfix</th>
                                <th>Numbermob</th>
                                <th>Discipline</th>
                                <th>EventType</th>
                                <th>ArtistVerify</th>
                                <th>Created_at</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.firstname }}</td>
                                    <td>{{ customer.lastname }}</td>
                                    <td>{{ customer.fullname }}</td>
                                    <td>{{ customer.status }}</td>
                                    <td>{{ customer.gender }}</td>
                                    <td>{{ customer.dateOfBirth ? customer.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ customer.description }}</td>
                                    <td>{{ customer.address }}</td>
                                    <td>{{ customer.city }}</td>
                                    <td>{{ customer.countryCode }}</td>
                                    <td>{{ customer.numberfix }}</td>
                                    <td>{{ customer.numbermob }}</td>
                                    <td>{{ customer.discipline }}</td>
                                    <td>{{ customer.eventType }}</td>
                                    <td>{{ customer.artistVerify }}</td>
                                    <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('customers_show', {'id': customer.id}) }}">show</a>
                                        <a href="{{ path('customers_edit', {'id': customer.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="18">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-lg bgblur">
                        <a class="white-text" href="{{ path('customers_new') }}">Create new</a>
                    </button>
                </div>
        </div>
    </div>

{% endblock %}
